* {
  margin: 0;
  padding: 0;
}

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  color: var(--Very-Dark-Blue);
}

.container-fluid {
  background-color: var(--Very-Light-Gray);
}

.dark {
  border: none;
  padding: 0;
  color: var(--Very-Dark-Blue);
}

#search {
  border-left: none;
}
.dropdown-toggle:after {
  display: none;
}
.search-bar {
  width: 95%;
  margin-left: 2%;
  box-shadow: 0em 0em 0.4em rgb(182, 179, 179);
}

.card {
  box-shadow: 0em 0em 0.4em rgb(182, 179, 179);
}

.btn-secondary {
  box-shadow: 0em 0em 0.4em rgb(182, 179, 179);
}

.dropdown-menu {
  box-shadow: 0em 0em 0.4em rgb(182, 179, 179);
}

.head {
  box-shadow: 0em 0em 0.4em rgb(182, 179, 179);
}

img {
  width: 290px;
  height: 150px;
}

@media (min-width: 1010px) {
  .search-bar {
    width: 30%;
  }
  .btn-secondary {
    margin-right: 1em;
  }

  /* .d-inline-flex {
    margin: 0em 9em 0em;
  } */
}
